<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post App</title>
  </head>
  <body>
    {% include "navbar.html" %} 
    {% if header %}
    <h1>{{header}}</h1>
    {% endif %}

    {% load crispy_forms_tags %}

    {% if post.header_image %}
      <img src="{{ post.header_image.url }}" style="width: 100px;">
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
