<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post App</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <h1>Post</h1>
    <hr>

<br/>
    {% for post in header_image %}
      <img src="{{ post.header_image.url }}" style="width: 100px;">
    {% endfor %}
<br/>
    <ul>
      <li>{{ post.body|safe }}</li>
      <img src="{{ header_image.url }}" style="width: 100px;">
      <li><a href="/user/{{post.creator.id}}/">{{ post.creator }}</a></li>
      <li><a href="/post/{{post.id}}/">{{ post.created_at }}</a></li>
    </ul>
  </body>
</html>
